$blue-color :#666CA3;
$dark-grenn-colo: #13183F;
$silver-color:#83869A;
$pink-color:#F74780;
$light-pink-color:#FFA7C3;
$white-color:#FFFFFF;
$red-linegradet-color:linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
$green-linegradet-color:linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);

$body-ff: " Plus Jakarta Sans", sans-serif;